@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-sans-serif: 'Hanken Grotesk', system-ui, sans-serif;
$headings-font-family: $font-family-sans-serif;

$primary: #ffb217;

@import "../bootstrap-5.3.3/scss/bootstrap";

#cu-hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../images/hof.png");
    background-position: 25% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.cu-section {
    @extend .py-4;

    // @extend .py-md-5;
    @include media-breakpoint-up(md) {
        padding: 5rem 0 !important;
    }
}

.cu-section-title {

    h2 {
        @extend .display-6;
        @extend .fw-normal;
    }

    >p:first-of-type {
        @extend .fs-5;
        @extend .text-body-secondary;
        @extend .mb-4;
    }
}

.cu-cards {

    .card {
        // @extend .shadow;
        @extend .h-100;
    }

    .card-body {
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-start;

        a {

            @extend .mt-auto;
        }
    }

    .btn {
        @extend .btn-secondary;
    }
}

.cu-contact {
    .col {
        // @extend .col-auto;
    }

    i {
        @extend .fs-3;
        @extend .me-3;
    }

    p {
        @extend .fs-5;
    }
}