<div class="bg-secondary-subtlee" id="cards" style="background: #F7F7F7;">
    <div class="container cu-section">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2>{{ include.cards.title }}</h2>
                <p class="fs-5 text-secondary mb-5">{{ include.cards.subtitle }}</p>
            </div>
        </div>
        <div class="row {{ include.cards.row-cols }} gy-4 justify-content-center">
            {% for item in include.cards.items %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ item.image-path | relative_url }}" class="card-img-top object-fit-cover"
                        alt="{{ item.image-alt }}" style="height: 300px;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <span class="mb-2">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.subtitle }}</h6>
                            <p class="card-text">{{ item.text }}</p>
                        </span>
                        <span>
                            {% if item.button-text and item.button-href %}
                            <a href="{{ item.button-href }}" class="btn btn-dark">{{ item.button-text }}</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>