<div class="bg-secondary-subtlee" id="cards" style="background: #F7F7F7;">
    <div class="container cu-section">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2>{{ include.cards.title }}</h2>
                <p class="fs-5 text-secondary mb-5">{{ include.cards.subtitle }}</p>
            </div>
        </div>
        <div class="row  row-cols-1 row-cols-lg-3 gy-3">
            {% for item in include.cards.items %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ item.image-path | relative_url }}" class="card-img-top object-fit-cover"
                        alt="{{ item.image-alt }}" style="height: 350px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.subtitle }}</h6>
                        <p class="card-text">{{ item.text }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>