<div class="bg-secondary-subtle" id="contact">
    <div class="container cu-section">
        <div class="row justify-content-center text-center">
            <div class="col col-lg-8 col-xl-6">
                <h2>Interesse geweckt?</h2>
                <p class="fs-5 text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic,
                    doloremque
                    perspiciatis! Architecto maxime ex dolores!</p>
                <a class="btn btn-primary" href="mailto:{{site.mail}}">E-Mail schreiben</a>
                <a class="btn btn-secondary" href="tel:{{site.phone-href}}">Anrufen</a>
                <div class="mt-3">
                    <a href="/">Weitere Angebote entdecken</a>
                </div>
            </div>
        </div>
    </div>
</div>