<div class="cu-section">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h2 class="cu-section-title">{{ include.features.title }}</h2>
                <p class="cu-section-subtitle">{{ include.features.subtitle }}</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            {% for item in include.features.items %}
            <div class="col">
                <i class="fa-solid fa-{{ item.icon }} fa-3x mb-3"></i>
                <h3 class="h4">{{ item.title}} </h3>
                <p>{{ item.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>