{% assign content = include.content %}

<div class="cu-section">
    <div id="{{content.id}}">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h2 class="cu-section-title">{{ content.title }}</h2>
                    <p class="cu-section-subtitle">{{ content.subtitle }}</p>
                </div>
            </div>
            <div class="row {{ content.row-cols }} g-4 g-md-5">
                {% for item in content.items %}
                <div class="col">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="d-flex align-items-center">
                                {% if item.icon != nil %}
                                    <i class="fa-solid fa-{{ item.icon }} fa-2x me-3" aria-hidden="true"></i>
                                {% else %}
                                    <img src="{{ item.img_src | relative_url }}" alt="{{ item.img_alt }}" class="me-3" width="33px">
                                {% endif %}
                                <h3 class="h4 mb-0">{{ item.title }}</h3>
                            </div>
                        </div>
                        <div class="col-12">
                            <p>{{ item.text }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-muted mt-3 mb-0">{{ content.hint }}</p>
                </div>
            </div>
        </div>
    </div>
</div>