<div class="cu-section">
    <div class="container">
        <div class="row text-sm-center">
            <div class="col">
                <h1 class="display-5 fw-bold">{{ include.hero.title }}</h1>
                <p class="fs-5 text-secondary">{{ include.hero.subtitle }}</p>
                {% for button in include.hero.buttons %}
                <a class="btn {% if forloop.first %} btn-primary {% else %} btn-dark {% endif %}"
                    href="{{ button.href }}">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>