.cu-gallery-img {
    @extend .img-fluid;
    @extend .w-100;
    @extend .object-fit-cover;
    object-position: center;
    
    @include media-breakpoint-up(md) {
        height: 300px;
    }
}

.cu-gallery-img--top {
    object-position: top center;
}

.cu-gallery-img--full {
    object-fit: contain;

    @include media-breakpoint-up(md) {
        height: auto;
    }
}

.cu-gallery-masonry {
    column-count: 1;
    column-gap: 1rem;

    @include media-breakpoint-up(md) {
        column-count: 2;
    }

    @include media-breakpoint-up(lg) {
        column-count: 3;
    }
}

.cu-gallery-masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
}