// This file contains general styling that is relevant for the complete website.


$primary: #ffb217;

@import "../bootstrap/bootstrap";
@import "home.scss";
@import "miscanthus.scss";
@import "datenschutz.scss";
@import "betonsteine.scss";

// Name all custom classes with the prefix "cu-" in
// order to clearly differentiate them from bootstrap classes.

.cu-section {
    @extend .py-4;
    @extend .py-md-5;
    @extend .px-3;
    @extend .px-sm-0;
}

.cu-section-title {
    @extend .display-5;
}

.cu-section-subtitle {
    @extend .fs-5;
}

.img-fluid,
#cu-map,
.card {
    @extend .shadow;
    @extend .rounded;
}

.nav-link i {
    transition: transform 0.2s ease;
}

.nav-link:hover {
    i {
        transform: translateY(-1px);
    }
}


.cu-feat-grid {
    i {
        @extend .fs-1;
    }
}

.cu-pricing {
    .col {
        @extend .col-12;
        @extend .col-md-4;
        @extend .col-xl-3;
    }
}