---
layout: default
title: Betonsteine
description: "Hochwertige Betonsteine für Garten, Terrasse & öffentliche Flächen. Modular, langlebig & vielseitig
einsetzbar. In vielen Größen & Formen erhältlich."
permalink: /betonsteine/
---

{% assign data = site.data.betonsteine %}

{% include hero.html content=data.hero %}

{% include features.html content=data.features %}

{% include cards.html content=data.cards %}

{% include text_image.html content=data.text_image_betonplatten %}

{% include text_image.html content=data.text_image_muster %}

{% include gallery.html content=data.gallery %}

{% include cta.html content=data.cta %}
