---
layout: default
title: Lohnarbeit
permalink: /lohnarbeit
custom_script: lohnarbeit.js
---

{% assign data = site.data.lohnarbeit %}

{% include hero.html hero=data.hero %}

{% include cards.html cards=data.cards %}

<div class="py-5">
    <div class="container py-5">
        <div class="row align-items-center flex-row-reverse">
            <div class="col ps-5">
                <h2>Umkreis der Lieferung</h2>
                <p class="fs-5 text-secondary mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic,
                    doloremque
                    perspiciatis! Architecto maxime ex dolores!</p>
            </div>
            <div class="col">
                <div id="cu-map" class="rounded shadow pe-5" style="height: 450px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 bg-secondary-subtle">
    <div class="container py-5">

        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h2>Der Ablauf</h2>
                <p class="fs-5 text-secondary mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic,
                    doloremque
                    perspiciatis! Architecto maxime ex dolores!</p>
            </div>
        </div>

        <div class="row text-center align-items-center gy-4">
            <div class="col">
                <i class="bi bi-1-circle" style="font-size: 2.5rem;"></i>
                <h3 class="h5 mt-2">Anfrage & Termin</h3>
                <p class="text-muted small">Sie kontaktieren uns, wir beraten Sie kurz & stimmen einen passenden Termin
                    ab.</p>
            </div>

            <div class="col col-md-auto">
                <i class="bi bi-arrow-right" style="font-size: 3rem;"></i>
            </div>

            <div class="col">
                <i class="bi bi-2-circle" style="font-size: 2.5rem;"></i>
                <h3 class="h5 mt-2">Einsatz vor Ort</h3>
                <p class="text-muted small">Zum vereinbarten Zeitpunkt führen wir die Arbeiten zuverlässig & effizient
                    durch.
                </p>
            </div>

            <div class="col col-md-auto">
                <i class="bi bi-arrow-right" style="font-size: 3rem;"></i>
            </div>

            <div class="col">
                <i class="bi bi-3-circle" style="font-size: 2.5rem;"></i>
                <h3 class="h5 mt-2">Abschluss & Abrechnung</h3>
                <p class="text-muted small">Nach dem Einsatz besprechen wir das Ergebnis und erstellen eine transparente
                    Abrechnung.</p>
            </div>

        </div>

    </div>
</div>

{% include faq.html faq=data.faq %}

{% include cta.html %}