<!DOCTYPE html>
<html lang="de" class="h-100">

<head>

    <title>
        {% if page.title and page.title != "" %}{{ page.title }} &ndash; {% endif %}{{ site.title }}
    </title>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style and Icons -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/libraries/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/libraries/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/assets/libraries/leaflet/style.css">

</head>

<body class="h-100 d-flex flex-column">

    {% include header.html %}

    <main class="flex-grow-1">
        {{ content }}
    </main>

    {% include footer.html %}

    <!-- Javascript -->
    <script src="/assets/libraries/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/libraries/leaflet/script.js"></script>
    {% if page.custom_script %}
    <script src="{{ '/assets/js/' | append: page.custom_script }}"></script>
    {% endif %}

</body>

</html>