<!DOCTYPE html>
<html lang="de" class="h-100">

<head>

    <title>
        {% if page.title and page.title != "" %}{{ page.title }} • {% endif %}{{ site.title }}
    </title>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style and Icons -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/fontawesome.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/solid.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/leaflet/style.css' | relative_url }}">

</head>

<body class="h-100 d-flex flex-column">

    {% include header.html %}

    <main class="flex-grow-1">
        {{ content }}
    </main>

    {% include footer.html %}

    <!-- Javascript -->
    <script src="{{ '/assets/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/leaflet/script.js' | relative_url }}"></script>
    {% if page.custom_script %}
    <script src="{{ '/assets/js/' | append: page.custom_script | relative_url }}"></script>
    {% endif %}

</body>

</html>